
.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/super-math/FileContentIndex/2d8491e2-794e-4f2b-9db3-ff9ad0ed8f51.vsidx

.vs/super-math/FileContentIndex/3e1e1308-71c7-46a1-9422-d44d18594b54.vsidx

.vs/super-math/FileContentIndex/9c263fc5-9f50-4bf3-9659-e7af8fe7e432.vsidx

.vs/super-math/FileContentIndex/a5e79a57-803a-4bea-8b55-acc55d883d0d.vsidx

.vs/super-math/FileContentIndex/ae9b854c-aca8-49cd-87ab-2b0fe08181f4.vsidx

.vs/super-math/v17/.wsuo

.vs/super-math/v17/Browse.VC.db

.vs/super-math/v17/Browse.VC.db-shm

.vs/super-math/v17/Browse.VC.db-wal

.vs/super-math/v17/Browse.VC.opendb

.vs/super-math/v17/ipch/AutoPCH/7f7378f729c32f23/MAIN.ipch

*.vsidx
